@import "tailwindcss";

:root {
  font-family: var(--font-inter);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

input[type="date"]::-moz-calendar-picker-indicator {
  opacity: 0;
}

input[type="date"] {
  position: relative;
  background: transparent;
}
